<!DOCTYPE html>
<html lang="vi">

</html>

<head>
    <title>Luyện Thi Trắc Nghiệm Phú Yên</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=".lttnpy_core/images/logo_new.png">
    <link href="assets/js/jquery/jquery.min.js">
    <link href="assets/js/language/vi.js">
    <link href="assets/js/global.js">
    <link href="themes/default/js/test.js">
    <link href="themes/raodn/js/main.js">
    <link href="assets/toastr/toastr.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="themes/default/js/users.js">
    <link href="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
    <link href="assets/js/jquery/jquery.cookie.js">
    <link href="assets/js/jquery/jquery.treeview.min.js">
    <link href="themes/raodn/js/jquery.sticky-kit.min.js">
    <link href="themes/raodn/js/bootstrap.min.js">
    <link href="themes/default/js/voting.js">
    <link rel="stylesheet" href="assets/css/nvgfont.quicksand.500.vietnamese.unknown0.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="themes/raodn/css/bootstrap.min.css">
    <link rel="stylesheet" href="themes/raodn/css/style.css">
    <link rel="stylesheet" href="themes/raodn/css/style.responsive.css">
    <link rel="stylesheet" href="themes/default/css/test.css">
    <link rel="stylesheet" href="assets/css/raodn.vi.1787.css">
    <link rel="stylesheet" href="themes/default/css/users.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/js/jquery/jquery.treeview.css" type="text/css" />
    <style>
        #navigation233 a {
            background-color: transparent !important
        }
        
        #navigation .current,
        #navigation .current a {
            font-weight: bold
        }
        
        #navigation .current ul a {
            font-weight: normal
        }
    </style>
</head>

<body>
    <div class="body-bg">
        <div class="wraper">
            <header>
                <div class="container-fluid">
                    <div id="header" class="row">
                        <div class="logo col-xs-24 col-sm-24 col-md-8">
                            <div class="pull-right-min">
                                <a title="Hệ thống Luyện thi Trắc nghiệm Phú Yên" href="/">
                                <picture>
                                <source src=".lttnpy_core/images/BANNER_THITRACNGHIEM.png" media="min-width:800px">
                                <source src=".lttnpy_core/images/BANNER_THITRACNGHIEM.png" media="min-width:480px">
                                <source src=".lttnpy_core/images/BANNER_THITRACNGHIEM.png">
                                <img src=".lttnpy_core/images/BANNER_THITRACNGHIEM.png" alt="Hệ thống Luyện thi Trắc nghiệm Phú Yên" /></a>
                                </picture>
                            </div>
                            <h1 class="hidden"><a href="" title="Hệ thống Luyện thi Trắc nghiệm Phú Yên">Hệ thống Luyện thi Trắc nghiệm Phú Yên</a></h1>
                        </div>
                        <div class="col-xs-24 col-sm-24 col-md-16">
                        </div>
                    </div>
                </div>
            </header>
            <nav class="second-nav" id="menusite">
                <div class="container-fluid">
                    <div class="row">
                        <div class="bg box-shadow">
                            <div class="navbar navbar-default navbar-static-top" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-site-default">
                                        <span class="sr-only">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="menu-site-default">
                                    <ul class="nav navbar-nav">
                                        <li><a class="home" title="Trang nhất" href="/"><em class="fa fa-lg fa-home">&nbsp;</em><span class="visible-xs-inline-block"> Trang nhất</span></a></li>
                                        <li class="dropdown" role="presentation"><a class="dropdown-toggle" href="" role="button" aria-expanded="false" title="LUYỆN THI">  LUYỆN THI <strong class="caret">&nbsp;</strong>
                                        </a>
                                            <ul class="dropdown-menu">
                                            <% if (listSubject && listSubject.length) { %>
                            					<% listSubject.forEach(subject => { %>
                                                <li class="dropdown-submenu" value="<%=subject._id%>"><a href="/list-of-subjects?subjectID=<%=subject._id%>" ><%=subject.name%></a>
                                                    <ul class="dropdown-menu">
                                                    <% if (LEVEL_TYPES && LEVEL_TYPES.length) { %>
                            					        <% LEVEL_TYPES.forEach(level => { %>
                                                        <li> <a href="/list-exam-with-level?subjectID=<%=subject._id%>&level=<%=level.value%>" value="<%=level.value%>">Lớp <%=level.text%></a></li>
                                                        <% }) %>
                        					        <% } %>
                                                    </ul>
                                                </li>
                                                <% }) %>
                        					<% } %>
										</tbody>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-toggle" href="/THI THỬ" title="THI THỬ">  THI THỬ</a> </li>
                                        <li class="dropdown" role="presentation"><a class="dropdown-toggle" href="" role="button" aria-expanded="false" title="LUYỆN THI">  GIÁO VIÊN <strong class="caret">&nbsp;</strong>
                                        </a>
                                            <ul class="dropdown-menu">
                                            <% if (listSubject && listSubject.length) { %>
                            					<% listSubject.forEach(subject => { %>
                                                <li class="dropdown-submenu" value="<%=subject._id%>"><a href="/list-of-subjects?subjectID=<%=subject._id%>" ><%=subject.name%></a>
                                                    <ul class="dropdown-menu">
                                                    
                                                        <li> <a href="" value="<%=subject.teacher%>">GV: <%=subject.teacher%></a></li>
                                                        
                                                    </ul>
                                                </li>
                                                <% }) %>
                        					<% } %>
										</tbody>
                                            </ul>
                                        </li>
                                        <li class="dropdown" role="presentation"><a class="dropdown-toggle" href="javascript:void(0);" role="button" aria-expanded="false" title="LUYỆN THI">  HỌC SINH <strong class="caret">&nbsp;</strong>
                                        </a>
                                            <ul class="dropdown-menu">
                                                <li value=""><a href="/list-exam-by-save">Đề thi đã lưu</a></li>
                                                <li value=""><a href="/history-test">Lịch sử thi</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-toggle" href="/HƯỚNG DẪN LUYỆN THI" title="HƯỚNG DẪN LUYỆN THI">  HƯỚNG DẪN LUYỆN THI</a> </li>
                                        <% if (infoUser) { %>
                                        <li><a class="dropdown-toggle" href="/contact" title="email">  LIÊN HỆ</a> </li>
                                        <% if (infoUser.role == 1 || infoUser.role == 100) { %>
                                        <li id="page-dashboard"><a class="dropdown-toggle" href="/dashboard" title="email">  TRANG QUẢN LÝ</a> </li>
                                        <% } %>
                                        <% } else{ %>
                                        <li><a class="dropdown-toggle" href="/dashboard" id="cannotLogin"> <i class="fa fa-key"></i>  _ Bạn cần phải đăng nhập để làm bài</a> </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>



