
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Luyện Thi Trắc Nghiệm - Phú Yên</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dashboard/images/favicon/apple-touch-icon-144x144.png" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="128x128" />
	<link rel="stylesheet" href="../dashboard/assets/css/main.css">

	<link rel="stylesheet" href="../lttnpy_core/css/fontawesome-all.min.css"/>
	<link rel="stylesheet" href="../lttnpy_core/slick/slick.css">
	<link rel="stylesheet" href="../lttnpy_core/slick/slick-theme.css">
    <link rel="stylesheet" href="../lttnpy_core/css/select2.min.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/quill.snow.css"/>
	<link rel="stylesheet" href="../lttnpy_core/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/fullcalendar.print.min.css" media='print'/>
    <link rel="stylesheet" href="../lttnpy_core/css/jquery-ui-full.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/jquery.timepicker.min.css"/>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<!--
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	-->
</head>
<body>
	<div class="wrapper theme-inverse">
		<div class="loader text-primary">
			<i class="i-spinner loading"></i>
		</div>
		<aside class="sidebar">
			<a href="/dashboard" class="logo">
				<img src="../lttnpy_core/images/LOGO_LTTNPY.png" alt="LOGO_LTTNPY.png">
			</a>
			<br>
			<nav>
				<ul class="sidebar-list">
					<li>
						<form class="input-group">
							<div class="input-group-icon"><i class="fas fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search...">
						</form>
					</li>
					
					<li class="sidebar-list-item"><i class="fa fa-cogs"></i> <span>Chức năng</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="/create-subject">Môn học (của Admin)</a></li>
							<li><a href="/create-exam" class="sidebar-list-item">Bộ đề</a></li>
						</ul>
					</li>
					<li><a class="sidebar-list-item" href="/create-question"><i class="fe fe-edit"></i> <span>Tạo câu hỏi</span></a></li>

					<li><a class="sidebar-list-item" href="/list-result-exam"><i class="fe fe-list"></i> <span>Danh sách Kết quả thi</span> </a> </li>
					<li><a class="sidebar-list-item" href="/list-exam"><i class="fe fe-list"></i> <span>Danh sách Bộ đề</span> </a> </li>

					<li><a class="sidebar-list-item" href="page-chat.html"><i class="fe fe-message-square"></i> <span>Chat</span></a></li>
					
					<li><a class="sidebar-list-item" href="page-faq.html"><i class="fe fe-help-circle"></i> <span>FAQ</span></a></li>
					
					<li><span class="sidebar-list-header">User interface</span></li>
					<li class="sidebar-list-item"><i class="fe fe-layers"></i> <span>Layouts</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="dashboard-1.html">Standart</a></li>
							<li><a class="sidebar-list-item" href="layout-horizontal-fluid.html">Horizontal fluid</a></li>
							<li><a class="sidebar-list-item" href="layout-horizontal-boxed.html">Horizontal boxed</a></li>
							<li><a class="sidebar-list-item" href="layout-inverse-horizontal-fluid.html">Inversed horizontal fluid</a></li>
							<li><a class="sidebar-list-item" href="layout-inverse-horizontal-boxed.html">Inversed horizontal boxed</a></li>
						</ul>
					</li>
					<li class="sidebar-list-item"><i class="fe fe-box"></i> <span>Components</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="component-alerts.html">Alerts</a></li>
							<li><a class="sidebar-list-item" href="component-buttons.html">Buttons and pagination</a></li>
							<li><a class="sidebar-list-item" href="component-box.html">Box</a></li>
							<li><a class="sidebar-list-item" href="component-card.html">Card</a></li>
							<li><a class="sidebar-list-item" href="component-tables.html">Tables</a></li>
							<li><a class="sidebar-list-item" href="component-events.html">Events</a></li>
							<li><a class="sidebar-list-item" href="component-widgets.html">Widgets</a></li>
							<li><a class="sidebar-list-item" href="component-charts.html">Charts</a></li>
							<li><a class="sidebar-list-item" href="component-avatar.html">Avatar</a></li>
							<li><a class="sidebar-list-item" href="component-user-panel.html">User panel</a></li>
							<li><a class="sidebar-list-item" href="component-image.html">Image</a></li>
							<li><a class="sidebar-list-item" href="component-icons.html">Icons</a></li>
						</ul>
					</li>
					<li class="sidebar-list-item"><i class="fe fe-edit"></i><span>Form</span><i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="/admin/add-subject-exam">Thêm</a></li>
							<li><a class="sidebar-list-item" href="form-wizzard.html">Form wizzard</a></li>
							<li><a class="sidebar-list-item" href="form-validation.html">Form validation</a></li>
							<li><a class="sidebar-list-item" href="form-editor.html">Form editor</a></li>
						</ul>
					</li>
					<li><a class="sidebar-list-item" href="typography.html"><i class="fe fe-type"></i> <span>Typography</span></a></li>
				</ul>
			</nav>
		</aside>
		<header class="header">
			<ul class="header-nav">
				<li>
					<button id="js-toggle-sidebar" class="header-nav-item">
						<i class="fas fa-bars"></i>
					</button>
				</li>
			</ul>
			<ul class="header-nav d-none d-sm-flex">
				<li>
					<a href="/" class="header-nav-item">Trang chủ</a>
					
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">Liên hệ</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/TOTHANHDAT.TTD">Facebook</a></li>
						<li><a class="dropdown-item" target="_blank" href="https://www.messenger.com/t/TOTHANHDAT.TTD">Messenger</a></li>
						<li><a class="dropdown-item" href="">Email: lttn.py@gmail.com</a></li>
					</ul>
				</li>
			</ul>
			
			<ul class="header-nav pull-right">
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-envelope"></i>
						<span class="badge badge-pill badge-success">2</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>Hello, John!</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:31</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>What about our project?</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:32</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-bell"></i>
						<span class="badge badge-pill badge-primary">3</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="event-column event-column-success">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-envelope"></i> From example@gmail.com</small>
								<p><a href="#">Alex White</a> sent you an email.</p>
							</div>
							<small class="text-secondary pull-right">1 hr.</small>
						</li>
						<li class="event-column event-column-primary">
							<div class="event-content">
								<small class="text-secondary"><i class="fas fa-thumbtack"></i> New task</small>
								<p><b>To <a href="#">John Doe</a>: new API methods.</b></p>
								<p class="text-secondary text-sm">Implement new API methods for mobile app.</p>
							</div>
							<small class="text-secondary pull-right">7 min.</small>
						</li>
						<li class="event-column event-column-secondary">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-bell"></i> Notification</small>
								<p><a href="#">Alex White</a> joined to project</p>
							</div>
							<small class="text-secondary pull-right">now</small>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" id="js-enter-fullscreen" class="header-nav-item">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li>
					<a href="#" data-dropdown class="user-panel">
						<div class="user-panel-image">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-0.jpg" alt="">
							</div>
						</div>
						<div class="user-panel-info">
							<small>Xin chào</small>
							<p>Admin</p>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="page-profile.html"><i class="far fa-user"></i> Profile</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</header>
		<main class="content">
			<div class="container-fluid">
				<div class="content-header content-header-scene">
					<h1>LTTN Trang chủ <small>Đăng nhập lần cuối: 03:00 21, July</small></h1>
				</div>
		<br>
		<div class="box">
            <form class="input-group">
                <button type="submit"><div class="input-group-icon btnSearch"><i class="fas fa-search"></i></div></button>
                <input id="input-search" autocomplete="off" type="text" class="form-control" placeholder="Tìm kiếm bộ đề...">
            </form>
		<div class="box-header">
				<h3 >Danh sách Bộ đề</h3>
				<div class="box-actions">
					<a href="#" class="box-actions-item">Link</a>
					<button class="box-actions-item">Điểm tăng dần <i class="fas fa-sort-alpha-up"></i></button>
					<button class="box-actions-item"><i class="fas fa-minus"></i></button>
					<button class="box-actions-item"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div>
			<div>
				
			</div>
				<div class="col-sm-5">
				</div>
			<div class="table-responsive">
				<table class="table table-result">
					<thead>
						<tr>
							<th>Tên Bộ đề</th>
							<th>Môn học</th>
							<th>Lớp</th>
							<th>Người tạo</th>
							<th>Số câu hỏi</th>
							<th>Kết quả</th>
						</tr>
					</thead>
					<tbody>
                        
                            
                            <tr>
                                <td><a href="/info-exam?examID=5ee5f79dfa430106f4296452"><span></span> Đề hóa học hữu cơ nâng cao cho học sinh lớp 12</a></td>
                                <td><span></span> Hóa học</td>

                                
									
								
									
								
									
								
									
								
									
										<td>12</td>
									
								

                                <td><span></span> Admin</td>
                                <td><span></span> 5</td>
                                <td><span></span> 6</td>
                                <td>
                                    <a href="#" class="icon text-black-25"><i class="fas fa-ellipsis-v"></i></a>
                                </td>
								</tr>
                           
				        
					</tbody>
				</table>
			</div>
            <hr>
                <p style="margin-left: 15px">Nhấp vào tên bộ đề để xem chi tiết</p>
		    </div>

		<div class="box">
			<div class="box-header">
				<h3>Weekly Recap Report</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<canvas class="chart" id="areaChartJs"></canvas>
					</div>
					<div class="col-md-4">
						<h3>Goals</h3>
						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Complete Purchase</p>
								<p class="mb-0 text-secondary"><b>47/50</b></p>
							</div>
							<div id="barChart1"></div>
						</div>

						<div class="d-block mb-20">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add Product to Favorite</p>
								<p class="mb-0 text-secondary"><b>25/50</b></p>
							</div>
							<div id="barChart2"></div>
						</div>

						<div class="d-block mb-25">
							<div class="d-flex justify-content-between">
								<p class="mb-0">Add product to favorite</p>
								<p class="mb-0 text-secondary"><b>12/50</b></p>
							</div>
							<div id="barChart3"></div>
						</div>

						<div class="row text-center">
							<div class="col-4">
								<div class="chart-circle" id="circleChart1"></div>
								<p>Mail orders</p>
							</div>
							<div class="col-4">
								<div id="circleChart2"></div>
								<p>Online</p>
							</div>
							<div class="col-4">
								<div id="circleChart3"></div>
								<p>In store</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<footer class="footer">
			<p >LTTN.PY © 2020 Được phát triển bởi Tô Thành Đạt.</p>
		</footer>
	</div>

	<script src="../dashboard/assets/js/app.js"></script>

	<!-- <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
	<script src="../lttnpy_core/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/select2.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/slick/slick.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lttnpy_core/scripts/caret.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/emojiPicker.min.js"></script>
	<script src="../lttnpy_core/scripts/main.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/lodash.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/moment.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/toastr/toastr.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/quill.min.js"></script>
	<script src="../lttnpy_core/scripts/fullcalendar.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery-ui-full.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery.timepicker.min.js" type="text/javascript"></script>
	<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

	
</body>
</html>

