<!DOCTYPE html>
	<html lang="vi"></html>
	<head>
<title>Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</title>
<link rel="shortcut icon" href="uploads/ehutech.tech/favicon.png">
<link rel="canonical" href="https://luyenthihutech.com/vi/">
<link href="assets/js/jquery/jquery.min.js">
<link href="assets/js/language/vi.js">
<link href="assets/js/global.js">
<link href="themes/default/js/test.js">
<link href="themes/raodn/js/main.js">
<link href="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="themes/default/js/users.js">
<link href="assets/js/jquery/jquery.cookie.js">
<link href="assets/js/jquery/jquery.treeview.min.js">
<link href="themes/raodn/js/bootstrap.min.js">
<link href="themes/raodn/js/jquery.sticky-kit.min.js">
<link href="themes/default/js/voting.js">
<link href="assets/toastr/toastr.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/nvgfont.quicksand.500.vietnamese.unknown0.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="themes/raodn/css/bootstrap.min.css">
<link rel="stylesheet" href="themes/raodn/css/style.css">
<link rel="stylesheet" href="themes/raodn/css/style.responsive.css">
<link rel="stylesheet" href="themes/default/css/test.css">
<link rel="stylesheet" href="assets/css/raodn.vi.1787.css">
<link rel="stylesheet" href="themes/default/css/users.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/js/jquery/jquery.treeview.css" type="text/css"/>
<style>
	#navigation233 a {
		background-color: transparent !important
	}

	#navigation .current, #navigation .current a {
		font-weight: bold
	}

	#navigation .current ul a {
		font-weight: normal
	}
</style>
	</head>
	<body>
	<noscript>
		<div class="alert alert-danger">Trình duyệt của bạn đã tắt chức năng hỗ trợ JavaScript.<br />Website chỉ làm việc khi bạn bật nó trở lại.<br />Để tham khảo cách bật JavaScript, hãy click chuột <a href="http://wiki.nukeviet.vn/support:browser:enable_javascript">vào đây</a>!</div>
	</noscript>
    <div class="body-bg">
	<div class="wraper">
		<header>
			<div class="container-fluid">
				<div id="header" class="row">
				    <div class="logo col-xs-24 col-sm-24 col-md-8">
                                                <div class="pull-right-min">
                        	<a title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" href=""><img src="uploads/ehutech.tech/banner_webtest_new.png" width="1500" height="204" alt="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" /></a>
                       	</div>
                            <h1 class="hidden"><a href="/vi/" title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH">Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</a></h1>
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-16">
                    </div>
				</div>
			</div>
		</header>
		<nav class="second-nav" id="menusite">
			<div class="container-fluid">
				<div class="row">
                    <div class="bg box-shadow">
					<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-site-default">
            <span class="sr-only">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-site-default">
        <ul class="nav navbar-nav">
            <li><a class="home" title="Trang nhất" href="/"><em class="fa fa-lg fa-home">&nbsp;</em><span class="visible-xs-inline-block"> Trang nhất</span></a></li>
                        <li  class="dropdown" role="presentation"><a class="dropdown-toggle"  href="/" role="button" aria-expanded="false" title="KHÓA HỌC">  KHÓA HỌC <strong class="caret">&nbsp;</strong>
                </a><ul class="dropdown-menu">
                        <li
                        class="dropdown-submenu">  <a href="/vi/test/toan-cao-cap/" title="Unit 1">Unit 1</a>  <ul class="dropdown-menu">
                        <li
                        >  <a href="" title="Từ vựng 1">Từ vựng 1</a> 
                        </li>   
                        <li
                        >  <a href="" title="Từ vựng 2">Từ vựng 2</a> 
                        </li>
                            <li
                        >  <a href="" title="Từ vựng 3">Từ vựng 3</a> 
                        </li>
                    </ul> 
            </li>
        
    <li
        class="dropdown-submenu">  <a href="" title="Unit 2">Unit 2</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Văn bản 1">Văn bản 1</a> 
    </li>
    <li
        >  <a href="" title="Văn bản 2">Văn bản 2</a>
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Unit 3">Unit 3</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Nghe 1">Nghe 1</a>
    </li>
    <li
        >  <a href="" title="Nghe 2">Nghe 2</a> 
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Unit 4">Unit 4</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Chuyên ngành IT">Chuyên ngành IT</a> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Tín chỉ">Tín chỉ</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="B1">B1</a> 
    </li>
    <li
        >  <a href="" title="B2">B2</a> 
    </li>
</ul> 
    </li>
</ul> 
    </li>
</ul> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="KIỂM TRA">  KIỂM TRA</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="SINH VIÊN">  SINH VIÊN</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÀI LIỆU" onclick="this.target='_blank'">  TÀI LIỆU</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÌM KIẾM">  TÌM KIẾM</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="KẾT QUẢ"> KẾT QUẢ</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="LIÊN HỆ"> LIÊN HỆ</a> </li>

        </ul>
    </div>
</div>
    </div>  
    </div>
    </div>
    </nav>
    <section>
        <div class="container-fluid" id="body">
            <nav class="third-nav">
                <div class="row">
                    <div class="bg">
                        <div class="clearfix">
                            <div class="col-xs-24 col-sm-18 col-md-18">
                                <span class="current-time">Thứ bảy, 04/04/2020, 12:14</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-24 col-sm-15 col-md-15">
                    <!--Start of Tawk.to Script-->
                    <!--End of Tawk.to Script-->
                </div>
                <div class="col-xs-24 col-sm-9 col-md-9">
                </div>
            </div>
            <div class="row" id="test">
                <div class="col-sm-16 col-md-18">
                    <div class="test">

                        <div class="test viewlist">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a href="" title="Đại Cương">Đại Cương</a> »
                                            <a href="" title="Mác - Lênin">Mác - Lênin</a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>11<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>10<span class="hidden-xs"> phút</span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="" title="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu"><img src="assets/ehutech.tech/test/2019/images/mac/dlmac-md.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu" /></a>
                                    </div>
                                    <h2>
                <a href="" title="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu"><strong>&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu</strong></a>
            </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o">&nbsp;</em>18:44 03/08/2019</li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 3527</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                        <!-- <li><em class="fa fa-user-o">&nbsp;</em>Bùi Phú Khuyên</li> -->
                                    </ul>
                                    <p class="hometext">CHƯƠNG MỞ ĐẦU: KHÁI NIỆM – KHÁI LƯỢC VỀ CHỦ NGHĨA MÁC – LÊNIN</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a href="" title="Đại Cương">Đại Cương</a> »
                                            <a href="" title="Mác - Lênin">Mác - Lênin</a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>55<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>45<span class="hidden-xs"> phút</span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/vi/test/mac-lenin/mac-lenin-chuong-1-53.html" title="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương 1"><img src="assets/ehutech.tech/test/2019/images/mac/dlmac-1-new.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương 1" /></a>
                                    </div>
                                    <h2>
                <a href="/vi/test/mac-lenin/mac-lenin-chuong-1-53.html" title="&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương 1"><strong>&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương 1</strong></a>
            </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o">&nbsp;</em>18:48 05/08/2019</li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 2685</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                        <!-- <li><em class="fa fa-user-o">&nbsp;</em>Bùi Phú Khuyên</li> -->
                                    </ul>
                                    <p class="hometext">CHƯƠNG 1: CHỦ NGHĨA DUY VẬT BIỆN CHỨNG</p>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                                            <a href="/vi/test/mac-lenin/" title="Mác - Lênin">Mác - Lênin</a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>21<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>20<span class="hidden-xs"> phút</span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/vi/test/mac-lenin/mac-lenin-chuong-8-109.html" title="&#91;CÓ PHÍ&#93; Mác-Lênin: Chương 8"><img src="assets/ehutech.tech/test/2019/images/mac/dlmac-8.png" class="img-thumbnail" alt="&#91;CÓ PHÍ&#93; Mác-Lênin: Chương 8" /></a>
                                    </div>
                                    <h2>
                <a href="/vi/test/mac-lenin/mac-lenin-chuong-8-109.html" title="&#91;CÓ PHÍ&#93; Mác-Lênin: Chương 8"><strong>&#91;CÓ PHÍ&#93; Mác-Lênin: Chương 8</strong></a>
            </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o">&nbsp;</em>15:55 22/08/2019</li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 246</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                        <!-- <li><em class="fa fa-user-o">&nbsp;</em>Bùi Phú Khuyên</li> -->
                                    </ul>
                                    <p class="hometext">CHƯƠNG 8: NHỮNG VẤN ĐỀ CHÍNH TRỊ, XÃ HỘI CÓ TÍNH QUY LUẬT TRONG TIẾN TRÌNH CÁCH MẠNG XHCN</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                                            <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/" title="Đường Lối Cách Mạng Của Đảng CS Việt Nam">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>30<span class="hidden-xs"> phút</span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/duong-loi-cach-mang-cua-dang-cs-viet-nam-luyen-phan-1-48.html" title="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 1)"><img src="assets/ehutech.tech/test/2019/images/duongloi/dldl1_1000_731.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 1)" /></a>
                                    </div>
                                    <h2>
                <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/duong-loi-cach-mang-cua-dang-cs-viet-nam-luyen-phan-1-48.html" title="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 1)"><strong>&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 1)</strong></a>
            </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o">&nbsp;</em>10:16 04/08/2019</li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 5043</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                        <!-- <li><em class="fa fa-user-o">&nbsp;</em>Bùi Phú Khuyên</li> -->
                                    </ul>
                                    <p class="hometext">Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 1)</p>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="border-bottom">
                                        <div class="pull-left cat-info">
                                            <em class="fa fa-folder-open-o">&nbsp;</em>
                                            <a href="/vi/test/dai-cuong/" title="Đại Cương">Đại Cương</a> »
                                            <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/" title="Đường Lối Cách Mạng Của Đảng CS Việt Nam">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                                        </div>
                                        <ul class="exam-info list-inline pull-right form-tooltip">
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Số câu"><em class="fa fa-heart-o">&nbsp;</em>40<span class="hidden-xs"> câu hỏi</span></li>
                                            <li class="pointer" data-toggle="tooltip" data-original-title="Thời gian"><em class="fa fa-clock-o">&nbsp;</em>30<span class="hidden-xs"> phút</span></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="image pull-left">
                                        <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/duong-loi-cach-mang-cua-dang-cs-viet-nam-luyen-phan-2-49.html" title="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)"><img src="assets/ehutech.tech/test/2019/images/duongloi/dldl2_1000_731.png" class="img-thumbnail" alt="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)" /></a>
                                    </div>
                                    <h2>
                <a href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/duong-loi-cach-mang-cua-dang-cs-viet-nam-luyen-phan-2-49.html" title="&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)"><strong>&#91;MIỄN PHÍ&#93; Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)</strong></a>
            </h2>
                                    <ul class="list-inline help-block">
                                        <li><em class="fa fa-clock-o">&nbsp;</em>11:38 04/08/2019</li>
                                        <li><em class="fa fa-search">&nbsp;</em>Đã xem: 2424</li>
                                        <li><em class="fa fa-comment-o">&nbsp;</em>Bình luận: 0</li>
                                        <!-- <li><em class="fa fa-user-o">&nbsp;</em>Bùi Phú Khuyên</li> -->
                                    </ul>
                                    <p class="hometext">Đường Lối Cách Mạng Của Đảng CS Việt Nam (Luyện phần 2)</p>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">2</a></li>
                                <li class="disabled"><span>...</span></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 16" href="/vi/test/page-16/">16</a></li>
                                <li><a rel="next" title="Trắc nghiệm  -  Trang 2" href="/vi/test/page-2/">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6">
                    <% if (!infoUser) { %>
                        <div class="panel panel-primary form-login">
                            <div class="panel-heading">
                                Tài khoản
                            </div>
                            <div class="panel-body">
                                <form action="/user/login" method="POST" autocomplete="off" novalidate>
                                    <div class="nv-info margin-bottom" data-default="Hãy đăng nhập thành viên để trải nghiệm đầy đủ các tiện ích trên site">Hãy đăng nhập thành viên để trải nghiệm đầy đủ các tiện ích trên site</div>
                                    <div class="form-detail">
                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon"><em class="fa fa-user fa-lg"></em></span>
                                                <input type="text" name="email" class="required form-control" id="email" placeholder="Tên đăng nhập hoặc email" maxlength="100" data-pattern="/^(.){3,}$/" onkeypress="validErrorHidden(this);" data-mess="Tên đăng nhập chưa được khai báo">
                                            </div>
                                        </div>
    
                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon"><em class="fa fa-key fa-lg fa-fix"></em></span>
                                                <input type="password" name="password" autocomplete="off" class="required form-control" id="password" placeholder="Mật khẩu" maxlength="100" data-pattern="/^(.){3,}$/" onkeypress="validErrorHidden(this);" data-mess="Mật khẩu đăng nhập chưa được khai báo">
                                            </div>
                                        </div>
                                        <div class="text-center margin-bottom-lg">
                                            <a href="/register"><input type="button" value="Đăng ký" class="btn btn-default" /></a>
                                            <button type="submit" class="bsubmit btn btn-primary btnDangNhap">Đăng nhập</button>
                                        </div>
                                        <div class="form-group">
                                        <div class="text-right clearfix">
                                            <a href="#" onclick="modalShowByObj('#guestReg_nv1', 'recaptchareset')">Đăng ký</a>
                                        </div>
                                    </div>  
                                        <div class="text-center openid-btns">
                                            
                                            <div class="btn-group m-bottom btn-group-justified">
                                                <button class="btn openid-facebook disabled" type="button" tabindex="-1"><i class="fa fa-fw fa-facebook"></i></button>
                                                <a class="btn openid-facebook" href="">Đăng nhập với Facebook</a>
                                            </div>
                                            <div class="btn-group m-bottom btn-group-justified">
                                                <button class="btn openid-google disabled" type="button" tabindex="-1"><i class="fa fa-fw fa-google-plus"></i></button>
                                                <a class="btn openid-google" href="">Đăng nhập với Google</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Tài khoản
                            </div>
                            <div class="panel-body">
                                <div class="content signed clearfix">
                                    <div class="nv-info" style="display:none"></div>
                                    <div class="userBlock">
                                        <h3 class="text-center margin-bottom-lg"><span class="lev-user text-normal margin-right">Tài khoản: </span> <%=infoUser.fullname%></h3>
                                        <div class="row margin-bottom-lg">
                                            <div class="col-xs-8 text-center">
                                                <a title="" href="#"><img id="avatar-default" src="../storage/images/<%=infoUser.avatar%>" _avatar="<%=infoUser.avatar%>" alt="avatar-default" class="img-thumbnail bg-gainsboro" /></a>
                                            </div>
                                            <div class="col-xs-16">
                                                <ul class="nv-list-item sm">
                                                    <li class="active">
                                                        <a href="/info-user?userID=<%=infoUser._id%>">Thông tin tài khoản</a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="/edit-info-user?userID=<%=infoUser._id%>">Thiết lập tài khoản</a>
                                                    </li>
                                                    <li>
                                                    <% if (infoUser.role == 100) { %>
                                                        <a href="">Tài khoản: <b>Super Admin</b></a>
                    
                                                    <% } else if (infoUser.role == 1){%>
                                                        <a href="">Tài khoản: <b>Giáo viên</b></a>
                    
                                                    <% } else {%>
                                                        <a href="">Tài khoản: <b>Học sinh</b></a>
                                                    <% }%>
                                                        
                                                    </li>
                                                    <li><a href="/history-test">Lịch sử thi</a></li>
                                                    <li><a href="/list-exam-by-save">Các đề thi đã lưu</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8 text-right">
                                                <button type="button" class="btn btn-default btn-sm active">
                                                    <a href="/logout"><em class="fa fa-sign-out"></em> Đăng xuất</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Thống kê truy cập
                        </div>
                        <div class="panel-body">
                            <ul class="counter list-none display-table">
                                <li><span><em class="fa fa-bolt fa-lg fa-horizon"></em>Đang truy cập</span><span>18</span></li>
                                <li><span><em class="fa fa-user fa-lg fa-horizon"></em>Thành viên online</span><span>1</span></li>
                                <li><span><em class="fa fa-bullseye fa-lg fa-horizon"></em>Khách viếng thăm</span><span>17</span></li>
                                <li><span><em class="fa fa-filter fa-lg fa-horizon margin-top-lg"></em>Hôm nay</span><span class="margin-top-lg">1,377</span></li>
                                <li><span><em class="fa fa-calendar-o fa-lg fa-horizon"></em>Tháng hiện tại</span><span>11,535</span></li>
                                <li><span><em class="fa fa-bars fa-lg fa-horizon"></em>Tổng lượt truy cập</span><span>375,767</span></li>
                            </ul>

                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a href="/nhom-de-thi/de-thi-moi/">Đề luyện thi mới</a>
                        </div>
                        <div class="panel-body">
                            <ul class="block_groups">
                                <li class="clearfix">
                                    <a class="show" href="/vi/test/toan-cao-cap-1/co-phi-dai-so-tuyen-tinh-chuong-1-hang-cua-ma-tran-237.html">&#91;CÓ PHÍ&#93; Đại Số Tuyến Tính - Chương 1 - Hạng Của Ma Trận</a>
                                </li>
                                <li class="clearfix">
                                    <a class="show" href="/vi/test/toan-cao-cap-1/dai-so-tuyen-tinh-chuong-1-ma-tran-cac-phep-toan-236.html">&#91;CÓ PHÍ&#93; Đại Số Tuyến Tính - Chương 1 - Ma trận & Các phép toán</a>
                                </li>
                                <li class="clearfix">
                                    <a class="show" href="/vi/test/toan-cao-cap-1/dai-so-tuyen-tinh-chuong-1-dinh-thuc-235.html">&#91;CÓ PHÍ&#93; Đại Số Tuyến Tính - Chương 1 - Định thức</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Danh sách học phần
                        </div>
                        <div class="panel-body">
                            <ul id="navigation233">
                                <li>
                                    <a title="Toán Cao Cấp" href="/vi/test/toan-cao-cap/">Toán Cao Cấp</a>
                                    <ul>
                                        <li>
                                            <li>
                                                <a title="Xác Xuất Thống Kê" href="/vi/test/xac-xuat-thong-ke/">Xác Xuất Thống Kê</a>
                                            </li>

                                    </ul>
                                    </li>
                                    <li>
                                        <a title="Tiếng Anh" href="/vi/test/tieng-anh/">Tiếng Anh</a>
                                    </li>
                                    <li>
                                        <a title="Đại Cương" href="/vi/test/dai-cuong/">Đại Cương</a>
                                        <ul>
                                            <li>
                                                <a title="Tư Tưởng Hồ Chí Minh" href="/vi/test/tu-tuong-ho-chi-minh/">Tư Tưởng Hồ Chí Minh</a>
                                            </li>

                                            <li>
                                                <a title="Mác - Lênin" href="/vi/test/mac-lenin/">Mác - Lênin</a>
                                            </li>
                                            <li>
                                                <a title="Đường Lối Cách Mạng Của Đảng CS Việt Nam" href="/vi/test/Duong-Loi-Cach-Mang-Cua-Dang-CS-Viet-Nam/">Đường Lối Cách Mạng Của Đảng CS Việt Nam</a>
                                            </li>

                                    </li>
                                    <li>
                                        <a title="Chuyên Ngành" href="">Chuyên Ngành</a>
                                        <ul>
                                            <li>
                                                <a title="Công Nghệ Thông tin" href="">Công Nghệ Thông tin</a>
                                                <ul>
                                                    <li>
                                                        <a title="Lập Trình Hướng Đối Tượng" href="">Lập Trình Hướng Đối Tượng</a>
                                                </ul>
                                                </li>
                                        </ul>
                                        </li>
                                        </ul>
                                        <div class="clear"></div>

                        </div>
                    </div>

                    <!-- Ads_Square -->
                    <div class="row">
                        <!-- Global site tag (gtag.js) - Google Analytics -->
                        <!-- Load Facebook SDK for JavaScript -->
                        <div id="fb-root"></div>
                        <!-- Your customer chat code -->
                        <div class="fb-customerchat" attribution=setup_tool page_id="102478721259064" logged_in_greeting="Xin chào, chúng tôi có thể giúp gì cho bạn?" logged_out_greeting="Xin chào, chúng tôi có thể giúp gì cho bạn?">
                        </div>
                    </div>
                </div>
    </section>
    </div>
    <footer id="footer">
        <div class="wraper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-24 col-md-6">
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-7">
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-11">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- SiteModal Required!!! -->
    <div id="sitemodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <em class="fa fa-spinner fa-spin">&nbsp;</em>
                </div>
                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times"></span></button>
            </div>
        </div>
    </div>
    <div id="timeoutsess" class="chromeframe">
        Bạn đã không sử dụng Site, <a href="#">Bấm vào đây để duy trì trạng thái đăng nhập</a>. Thời gian chờ: <span id="secField"> 60 </span> giây
    </div>
    <div id="openidResult" class="nv-alert" style="display: none"></div>
    <div id="openidBt" data-result="" data-redirect=""></div>
    <div class="fix_banner_left">

        <!-- Ads_Vertical2 -->

    </div>
    <div class="fix_banner_right">

        <!-- Ads_Vertical -->

    </div>
    
    <%- include ('../partials/footer') %>

        <script>
            $(document).on('click', '.btnDangNhap', function(e) {
                e.preventDefault();
                let email = $('#email').val().trim();
                let password = $('#password').val().trim();

                if (!email || !password) {
                    toastr['warning']('Email hoặc mật khẩu không được để trống', 'Thông báo');
                } else {
                    $.ajax({
                        url: `/user/login`,
                        method: 'POST',
                        data: {
                            email, password
                        },
                        success: resp => {

                            //console.log({ resp })

                            if (!resp.error) {
                                toastr['success']('Đăng nhập thành công', 'Thông báo');
                                setTimeout(function(){ 
                                    location.href = `/`;
                                }, 500);

                            } else {

                                return toastr['warning']('Email hoặc mật khẩu không chính xác', 'Thông báo');
                            }
                        },
                        error: err => console.log({
                            err
                        })
                    });
                }
            })

            // $(document).on('click', '.btnRegister', function(e) {
            //     e.preventDefault();
            //     location.href = "/register"
            // })

        </script>

       