<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oxios - SignIn</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dashboard/images/favicon/apple-touch-icon-144x144.png" />
	<link rel="icon" type="image/png" href="dashboard/images/favicon/favicon-16x16.png" sizes="16x16" />	
	<link rel="icon" type="image/png" href="dashboard/images/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="dashboard/images/favicon/favicon-128x128.png" sizes="128x128" />
	<link href="dashboard/images/favicon/favicon-128x128.png" sizes="128x128" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="assets/js/jquery/jquery.min.js">
    <link href="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
    <link href="assets/js/jquery/jquery.cookie.js">
    <link href="assets/js/jquery/jquery.treeview.min.js">
    <link href="themes/raodn/js/jquery.sticky-kit.min.js">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<link rel="stylesheet" href="dashboard/assets/css/main.css">
</head>
<body>
	<div class="wrapper">
		<main class="content px-10">
			<div class="row">
				<div class="col-md-3 offset-md-3 col-lg-3 offset-lg-4">
					<a href="/" class="logo col-lg-8 justify-content-center text-primary">
						<img src="../lttnpy_core/images/logo_new.png" alt="">
					</a>
					<br>
					<form action="/user/register" method="POST" class="box needs-validation" novalidate>
						<div class="box-header justify-content-center">
							<h3>Đăng ký</h3>
						</div>
						<div class="box-body">
                        <div class="form-group">
								<label>Họ Tên</label>
								<input id="fullname" name="fullname" required type="fullname" class="form-control" placeholder="Nhập Họ Tên.">
								<span class="invalid-feedback">Nhập Họ Tên.</span>
							</div>
							<div class="form-group">
								<label>Email/Số điện thoại</label>
								<input id="email" name="email" required type="email" class="form-control" placeholder="vd: lltnpy@gmail.com">
								<span class="invalid-feedback">Nhập Email hoặc số điện thoại.</span>
							</div>
							<div class="form-group">
								<label>Mật khẩu</label>
								<input id="password" name="password" required type="password" class="form-control" placeholder="Nhập mật khẩu.">
								<span class="invalid-feedback">Nhập mật khẩu.</span>
							</div>
							
							<div class="form-group">
								<div class="btn-group btn-group-stretch">
									<button type="submit" class="btn btn-primary btnDangKy">Đăng ký</button>
								</div>
							</div>
							<p class="text-center my-0"><a href="#">Quên mật khẩu?</a></p>
						</div>
					</form>	
				</div>
			</div>
		</main>
	</div>

	

	
</body>

</html>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
    <script src="assets/js/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="themes/raodn/js/jquery.sticky-kit.min.js"></script>
    <script src="assets/js/jquery/jquery.treeview.min.js" type="text/javascript"></script>
	<script src="dashboard/assets/js/app.js"></script>
<script>

    $(document).on('click', '.btnDangKy', function(e) {
        e.preventDefault();

        let fullname = $('#fullname').val().trim();
        let email = $('#email').val().trim();
        let password = $('#password').val().trim();

        console.log({ fullname, email, password})

        if (email.length < 1 || password.length < 1 || fullname.length < 1) {

			return toastr.warning('Các trường không được để trống', 'Thông báo')
			
        } else if (email.length < 6 || password.length < 6 || fullname.length < 4){

			return toastr.warning('Email, password phải trên 6 kí tự', 'Thông báo')
			
		}
		
		 else {
            $.ajax({
                url: `user/register`,
                method: 'POST',
                data: {
                    email, password, fullname
                },
                success: resp => {

                    console.log({ resp })

                    if (!resp.error) {
						toastr['success']('Đăng ký thành công', 'Thông báo');
                        setTimeout(function(){ 
                            location.href = `/`;
                        }, 500);

                    } else {

                        toastr.error('Đăng ký thất bại', 'Thông báo');
                    }
                },
                error: err => console.log({
                    err
                })
            });
        }
    })
</script>


